## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm
*.rsuser
*.vspx
*.psess
*.vsp

## JetBrains Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Benchmark/Profiling results
BenchmarkDotNet.Artifacts/

## MkDocs output
site/
